
// Button Styles

.button {

  @include border-box;

  color      : $col_main;
  display    : inline-block;
  text-align : center;

  background: $col_highlight;
  border-radius: 5px;

  box-shadow  : 0 0 5px $col_shadow;
  text-shadow : 0 -1px 0 $col_shadow;
}

.button-style-3d {
  background: grey;
  text-shadow: none;
  border-color: black;
}

