
// Main type defaults

body {
  font-size: 13px;

  ::selection      { color: inherit; background: transparent; }
  ::-moz-selection { color: inherit; background: transparent; }
}


// Headings

h1, h2, h3, h4, h5, h6 {
}

h2 {
  @include font-fancy;
}


// Links

a { color: $col_highlight; }

